.movies-list {
  padding: 0;
  margin: 70px auto 80px;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-auto-rows: 218px;
  gap: 32px 20px;
}

@media screen and (max-width: 1150px) {
  .movies-list {
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 339px);
    grid-auto-rows: 257px;
    gap: 36px 30px;
  }
}

@media screen and (max-width: 710px) {
  .movies-list {
    max-width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-auto-rows: 218px;
    gap: 16px 10px;
  }
}

@media screen and (max-width: 560px) {
  .movies-list {
    max-width: 300px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 235px;
    gap: 20px;
  }
}