.movies__container {
  max-width: 1140px;
  margin: 0 auto 90px;
  display: flex;
  flex-direction: column;
}

.movies__button {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  background-color: #2F2F2F;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color:  #FFFFFF;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
}

@media screen and (max-width: 1150px) {
  .movies__button {
    width: 708px;
  }
}

@media screen and (max-width: 710px) {
  .movies__button {
    width: 550px;
  }
}

@media screen and (max-width: 560px) {
  .movies__container {
    margin-bottom: 80px;
  }
  
  .movies__button {
    width: 300px;
  }
}