.movies__container {
  max-width: 1140px;
  margin: 0 auto 90px;
  display: flex;
  flex-direction: column;
}

.movies__message {
  display: block;
  max-width: 900px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin: 80px auto 50px;
  padding: 0;
  color: #8B8B8B;
}

.movies__message_type_disabled {
  display: none;
}

.movies__button {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  background-color: #2F2F2F;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color:  #FFFFFF;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
}

.movies__button_type_hidden {
  visibility: hidden;
}

@media screen and (max-width: 1150px) {
  .movies__message {
    max-width: 708px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .movies__button {
    width: 708px;
  }
}

@media screen and (max-width: 710px) {
  .movies__message {
    max-width: 550px;
  }
  
  .movies__button {
    width: 550px;
  }
}

@media screen and (max-width: 560px) {
  .movies__container {
    margin-bottom: 80px;
  }
  
  .movies__message {
    max-width: 300px;
  }

  .movies__button {
    width: 300px;
  }
}