.login {
  max-width: 396px;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 215px;
  }
}

@media screen and (max-width: 450px) {
  .login {
    align-items: center;
    padding-top: 38px;
  }
}